*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica', cursive;
}
body{
    overflow: hidden;
}

#canvas1{
    top: 0;
    left: 0;
    background-color: #ffe97f;
}
img{
    display: none;
}
#loading{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 80px;
}